In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 28, 18
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
import itertools
import warnings
warnings.filterwarnings("ignore")
plt.rcParams['font.sans-serif'] = ['SimHei'] #用来正常显示中文标签

In [10]:
dateparse = lambda x: pd.to_datetime(x, format='%Y%m', errors = 'coerce')
df = pd.read_csv("C:/ZhangLI/Codes/DataSet/time series forcasting/MER_T12_06.csv", parse_dates=['YYYYMM'], index_col='YYYYMM', date_parser=dateparse) 
ts = df[pd.Series(pd.to_datetime(df.index, errors='coerce')).notnull().values]
ts.info()
ts

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4941 entries, 1973-01-01 to 2018-09-01
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MSN           4941 non-null   object
 1   Value         4941 non-null   object
 2   Column_Order  4941 non-null   int64
 3   Description   4941 non-null   object
 4   Unit          4941 non-null   object
dtypes: int64(1), object(4)
memory usage: 231.6+ KB

,MSN,Value,Column_Order,Description,Unit
YYYYMM,,,,,
1973-01-01,CLEIEUS,72.076,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
1973-02-01,CLEIEUS,64.442,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
1973-03-01,CLEIEUS,64.084,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
1973-04-01,CLEIEUS,60.842,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
1973-05-01,CLEIEUS,61.798,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
...,...,...,...,...,...
2018-05-01,TXEIEUS,134.963,9,Total Energy Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
2018-06-01,TXEIEUS,156.387,9,Total Energy Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
2018-07-01,TXEIEUS,185.935,9,Total Energy Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
2018-08-01,TXEIEUS,183.878,9,Total Energy Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
2018-09-01,TXEIEUS,157.625,9,Total Energy Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide

In [ ]:
https://zhuanlan.zhihu.com/p/127032260