In [1]:
import pandas as pd
import numpy as np
import warnings

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
from matplotlib import rcParams

warnings.filterwarnings("ignore")

In [11]:
path = 'C:/ZhangLI/Codes/DataSet/santander-product-recommendation/'
test_dir = path + 'test_ver2.csv'
train_dir = path + 'train_ver2.csv'

In [17]:
train_df = pd.read_csv(train_dir, nrows=100000)
train_df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [18]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_dato             100000 non-null  object
 1   ncodpers               100000 non-null  int64
 2   ind_empleado           99317 non-null   object
 3   pais_residencia        99317 non-null   object
 4   sexo                   99317 non-null   object
 5   age                    100000 non-null  object
 6   fecha_alta             99317 non-null   object
 7   ind_nuevo              99317 non-null   float64
 8   antiguedad             100000 non-null  object
 9   indrel                 99317 non-null   float64
 10  ult_fec_cli_1t         128 non-null     object
 11  indrel_1mes            99317 non-null   float64
 12  tiprel_1mes            99317 non-null   object
 13  indresi                99317 non-null   object
 14  indext                 99317 non-null   object
 15  conyuemp               0 non-null       float64
 16  canal_entrada          99312 non-null   object
 17  indfall                99317 non-null   object
 18  tipodom                99317 non-null   float64
 19  cod_prov               99231 non-null   float64
 20  nomprov                99231 non-null   object
 21  ind_actividad_cliente  99317 non-null   float64
 22  renta                  81716 non-null   float64
 23  segmento               99309 non-null   object
 24  ind_ahor_fin_ult1      100000 non-null  int64
 25  ind_aval_fin_ult1      100000 non-null  int64
 26  ind_cco_fin_ult1       100000 non-null  int64
 27  ind_cder_fin_ult1      100000 non-null  int64
 28  ind_cno_fin_ult1       100000 non-null  int64
 29  ind_ctju_fin_ult1      100000 non-null  int64
 30  ind_ctma_fin_ult1      100000 non-null  int64
 31  ind_ctop_fin_ult1      100000 non-null  int64
 32  ind_ctpp_fin_ult1      100000 non-null  int64
 33  ind_deco_fin_ult1      100000 non-null  int64
 34  ind_deme_fin_ult1      100000 non-null  int64
 35  ind_dela_fin_ult1      100000 non-null  int64
 36  ind_ecue_fin_ult1      100000 non-null  int64
 37  ind_fond_fin_ult1      100000 non-null  int64
 38  ind_hip_fin_ult1       100000 non-null  int64
 39  ind_plan_fin_ult1      100000 non-null  int64
 40  ind_pres_fin_ult1      100000 non-null  int64
 41  ind_reca_fin_ult1      100000 non-null  int64
 42  ind_tjcr_fin_ult1      100000 non-null  int64
 43  ind_valo_fin_ult1      100000 non-null  int64
 44  ind_viv_fin_ult1       100000 non-null  int64
 45  ind_nomina_ult1        99790 non-null   float64
 46  ind_nom_pens_ult1      99790 non-null   float64
 47  ind_recibo_ult1        100000 non-null  int64
dtypes: float64(10), int64(23), object(15)
memory usage: 36.6+ MB

In [24]:
unique_ids = pd.Series(train_df["ncodpers"].unique())
# 这是对用户进行什么操作
unique_ids

0        1375586
1        1050611
2        1050612
3        1050613
4        1050614
          ...
99995     890561
99996     890559
99997     890557
99998     890498
99999     890502
Length: 100000, dtype: int64