In [1]:
import pandas as pd

In [2]:
path = 'C:/ZhangLI/Codes/DataSet/新闻推荐比赛数据/'
train = path + 'articles.csv'
train_click = path + 'train_click_log.csv'

In [4]:
# 使用历史浏览 点击文章的数据信息预测用户未来的点击行为，即用户最后一次点击新闻的文章
# 问题转换 30万用户 200w点击 36篇文章
pd.read_csv(train)

        article_id  category_id  created_at_ts  words_count
0                0            0  1513144419000          168
1                1            1  1405341936000          189
2                2            1  1408667706000          250
3                3            1  1408468313000          230
4                4            1  1407071171000          162
...            ...          ...            ...          ...
364042      364042          460  1434034118000          144
364043      364043          460  1434148472000          463
364044      364044          460  1457974279000          177
364045      364045          460  1515964737000          126
364046      364046          460  1505811330000          479

[364047 rows x 4 columns]